@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Montserrat&family=Mulish&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Mulish', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-family: -apple-systemn, 'Jost', sans-serif;
  font-weight: bold;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.PageWrapper {
  padding: 5%;
}

.RevsHeader {
  position: sticky;
  top: 0;
  background-color: #842323;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.cartClosed{

}

.cartWrapper{
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  background-color: #fff; 
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -1px 4px .5px rgba(0,0,0,.2);
}

.cartHeader{
  background-color: #842323; 
  justify-content: flex-end;
  border-radius: 5px 5px 0 0;
  /* box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2); */
}

.cartOpen{

  padding: 10px;
}

.toggle-btn {
  background-color: transparent;
  color:#fff;
  border-style:hidden;
}

.toggle-btn:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border-style: solid;
  border-color:#fff;
  transition: .5s;
  background-color: rgba(193, 190, 190, 0.316);
}

.custom-btn {
  background-color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  color: #842323;
  border: none;
  margin: 5px;
}

.custom-btn:hover {
  box-shadow: 2px;
  color: #5f1a1a;
  background-color: rgb(219, 217, 217);
  transition: .5s;
}

.right-aligned {
  justify-content: flex-end;
}

.server-wrapper {

  display: flex;
}

.order-items{
  min-width: 50%;

}

.cart-items{
  min-width: 45%;
}

.order-btns {


}

.inline-row{
  display: inline-block;

}

.inline-title{
  
}

.right-align{
  float: right;
  justify-content: right;
  display: flex;
/*   border-style: solid; */
  width: 100%;
  text-align: right; 
}

.orderRow{
  padding: 5px;
  display: flex;
  flex-direction: row;
/*   min-width: 100p */
}

.inc-dec-padding{
  display: flex;
  justify-content: right;
  width: 100%;
}

.inc-dec{
  display: flex;
  border-radius: 20px;
  background-color:#5f1a1a;
  /* border: solid; */
}

.item-amount{
  /* padding: 5px; */
  /* aspect-ratio : 1 / 1; */
  /* border: solid; */
  /* border-width: 1px; */
  width: 20px;
  text-align: center;
  box-shadow: inset;
  border-radius: 30%;
  background-color: #fff;
}


:root {
  --color-gray-500: rgba(107, 114, 128, 100%);
  --color-gray-600: rgba(75, 85, 99, 100%);
  --color-gray-700: rgba(55, 65, 81, 100%);
  --color-purple-300: rgba(216, 180, 254, 100%);
  --color-blue-500: rgba(59, 130, 246, 100%);
  --color-violet-500: rgba(139, 92, 246, 100%);
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

