@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Montserrat&family=Mulish&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, "Mulish", BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

h1 {
	font-family: -apple-systemn, 'Jost', sans-serif;
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	fontsize: 1rem;
}

img, svg {
    vertical-align: middle;
}

.no-border {
	border: none !important;
}

.custom-tab.active {
	display: flex !important;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f7f7f7;

}

.custom-tab {
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px -1px 4px 0.5px rgba(0, 0, 0, 0.2);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f7f7f7;
}

.form-check-input:checked {
	background-color: var(--color-maroon) !important;
	border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
	color: black;
	outline: 0;
	border: 0;
	box-shadow: 0 0 0 0.1rem var(--color-maroon) !important;
}

* {
	box-sizing: border-box;
}

.goog-te-gadget-simple {
	border: none !important;
}

.PageWrapper {
	padding: 5%;
	margin-bottom: 20px;
}

.no-li::before {
	content: "❌  ";
	padding-right: 5px;
	text-shadow: 0 0 0 red;
	color: transparent;
}

.nav-link {
	color: white !important;
	background-color: var(--color-maroon) !important;
	margin-left: 1px;
	/* border-color: black !important; */
}

.nav-tabs .nav-link:hover {
	background-color: #7b4358 !important;
	border-color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #956375 !important;
	border-color: white !important;
}

.RevsHeader {
	position: sticky;
	top: 0;
	background-color: var(--color-maroon);
	color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#landingPage {
	height: 100vh;
    position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.landingImage {
  z-index: -2;
  position: absolute
  
}
.landing {
	font-family: -apple-systemn, 'Jost', sans-serif;
	font-weight: bold;
	color: #fff;
	text-shadow: 4px 4px rgba(95, 26, 26, .8);
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

#googleMaps {
	padding-top: 15%;
}

.mapsHeader {
	font-family: -apple-systemn, 'Jost', sans-serif;
	font-weight: bold;
	color: var(--color-maroon);
}

.cartClosed {}

.cartWrapper {
	z-index: 2;
	position: fixed;
	width: 100%;
	bottom: 0;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px -1px 4px 0.5px rgba(0, 0, 0, 0.2);
}

.cartHeader {
	background-color: var(--color-maroon);
	justify-content: flex-end;
	border-radius: 5px 5px 0 0;
	/* box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2); */}

.collapse-css-transition {
	transition: 100px 5s cubic-bezier(0.4, 0, 0.2, 1);
}

.cartOpen {
	padding: 10px;
}

.toggle-btn {
	background-color: transparent;
	color: #fff;
	border-style: hidden;
}

.toggle-btn:hover,
.toggle-btn:focus {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-color: #fff;
	transition: 0.5s;
	background-color: rgba(193, 190, 190, 0.316);
}

.custom-btn {
	background-color: #fff;
	font-family: "Jost", sans-serif;
	font-weight: 800;
	color: var(--color-maroon);
	border: none;
	margin: 5px;
}

.custom-btn:hover {
	box-shadow: 2px;
	color: #5f1a1a;
	background-color: rgb(219, 217, 217);
	transition: 0.5s;
}

.custom-btn-landing {
	background-color: var(--color-maroon);
	font-family: 'Jost', sans-serif;
	font-weight: 800;
	font-size: 30px;
	color: #fff;
	border: none;
	padding: 15px;
}

.custom-btn-landing:hover {
	box-shadow: 12px 12px 2px 1px rgba(95, 26, 26, .7);
	color: #5f1a1a;
	background-color: #fff;
	transition: .5s;
}

.right-aligned {
	justify-content: flex-end;
}

.left-aligned {
	justify-content: flex-start;
}

.server-wrapper {
	display: flex;
}

.order-items {
	min-width: 50%;
	margin: 10px;
}

.cart-items {
	min-width: 45%;
	/* display: flex; */
}

.order-btns {}

.inline-row {
	display: inline-block;
}

.inline-title {}

.bottom-align {
	display: inline-block;
	align-self: flex-end;
}

.right-align {
	float: right;
	justify-content: right;
	display: flex;
	/*   border-style: solid; */
	width: 100%;
	text-align: right;
}

.ReactCollapse--collapse {
	transition: height 500ms;
}

.inc-dec-padding {
	display: flex;
	justify-content: right;
	width: 100%;
}

.cart-card {
	border-radius: 10px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.inc-dec {
	display: flex;
	border-radius: 10%;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	/* border: solid; */
}

.emj {
	text-shadow: 0 0 0 var(--color-maroon);
	color: transparent;
}

.item-amount {
	/* padding: 5px; */
	/* aspect-ratio : 1 / 1; */
	/* border: solid; */
	/* border-width: 1px; */
	width: 20px;
	text-align: center;
	box-shadow: inset;
	border-radius: 30%;
	background-color: #fff;
}

:root {
	--color-gray-500: rgba(107, 114, 128, 100%);
	--color-gray-600: rgba(75, 85, 99, 100%);
	--color-gray-700: rgba(55, 65, 81, 100%);
	--color-purple-300: rgba(216, 180, 254, 100%);
	--color-blue-500: rgba(59, 130, 246, 100%);
	--color-violet-500: rgba(139, 92, 246, 100%);
	--tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	--color-maroon: #5c0627;
}
